.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: hsl(210, 46%, 95%);
  margin: 0;
}
/* Container */
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "daniel daniel jonathan kira"
    "jeanette patrick patrick kira";
  gap: 32px;
  width: 90%;
  max-width: 1200px;
  margin: 3rem auto;
}

/* daniel */
.daniel {
  background-color: #7541c8;
  color: rgb(22, 15, 15);
  /* border-radius: 7px; */
  grid-area: daniel;
}

.daniel > p {
  line-height: 20px;
}

/* background quote img */
.daniel {
  background-image: url(images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top right 80px;
}

/* jONATHAN */
.jonathan {
  background-color: hsl(217, 19%, 35%);
  color: rgb(22, 15, 15);
  /* border-radius: 7px; */
  grid-area: jonathan;
}
.jonathan > p {
  line-height: 20px;
}

/* JEANETTE */
.jeanette {
  background-color: white;
  color: rgb(22, 15, 15);
  /* border-radius: 7px; */
  grid-area: jeanette;
}

.jeanette > p {
  line-height: 20px;
}

/* PATRICK */
.patrick {
  background-color: hsl(235, 20%, 13%);
  color: rgb(22, 15, 15);
  /* border-radius: 7px; */
  grid-area: patrick;
}
.patrick > p {
  line-height: 20px;
}

/* KIRA */
.kira {
  background-color: white;
  color: rgb(22, 15, 15);
  /* border-radius: 7px; */
  grid-area: kira;
}
.kira > p {
  line-height: 20px;
}

/* General css */
.profile {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile img {
  width: 33px;
  height: 33px;
  border-radius: 75%;
}

.info h4,
.info p {
  margin: 0;
}

.info h4 {
  font-size: 13px;
}

.info p {
  font-size: 10px;
  opacity: 0.7;
}

h3 {
  margin: 10px 0;
  line-height: 1.2;
}

.daniel,
.jonathan,
.jeanette,
.patrick,
.kira {
  padding: 15px;
  border-radius: 10px;
  line-height: 1.45;
}

.daniel,
.jonathan,
.patrick {
  color: hsl(0, 0%, 81%);
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.jeanette,
.kira {
  color: hsl(217, 19%, 35%);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "daniel"
      "jonathan"
      "jeanette"
      "patrick"
      "kira";

    width: 90%;
    gap: 24px;
  }
}
